/* H5BP Stuff */
/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
/* end H5BP */

body {
  background: #38c3d2;
  color: white;
  font-family: 'Varela Round', sans-serif;
  line-height: 1.25em
}

h1,
h2,
h3 {
  font-weight: normal;
}

h1 {
  font-size: 2.8em;
}
.account h1 {
  font-size: 2em;
}
h1 img {
  margin-right: -0.8em;
}
.account header h1 img {
  width: 81px;
  margin-right: 0;
  vertical-align: middle;
}

h1 small {
  font-size: 1.5rem;
  margin-left: 1em;
}

.container {
  position: relative;
  width: 720px;
  margin: 2em auto 1em;
}
.account.container {
  margin-top: 1em;
}

header {
  position: relative;
}

.account-buttons {
  position: absolute;
  top: 0;
  right: 0;
}
.account .account-buttons {
  top: 0.7em;
  /*margin-top: -1.25em;*/
}

main {
  margin-top: 6em;
}
.account main {
  margin-top: 3em;
}

h2 {
  text-align: center;
  margin-bottom: 0;
}
h2 em {
  font-style: normal;
}

button {
  border: none;
}
button,
.button {
  display: inline-block;
  line-height: 2.25em;
  height: 2.25em;
  padding: 0 1.5em;
  font-weight: bold;
  color: #38c3d2;
  background: white;
  text-decoration: none;
  vertical-align: middle;
}
.button.image-container {
  vertical-align: middle;
  display: inline-block;
  padding: 0;
  overflow: hidden;
  line-height: 1.25em;
  height: 2.25em
}
.button.image-container img {
  display: inline-block;
  width: 2.25em;
  /*line-height: 1em;*/
  height: 2.25em;
}
button:first-of-type,
.button:first-of-type {
  border-top-left-radius: 0.3em;
  border-bottom-left-radius: 0.3em;
}
button:last-of-type,
.button:last-of-type {
  border-top-right-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
}
.button:hover {
  color: #09a;
  background: #def;
}
.button:active {
  position: relative;
  top: 2px;
}

.explain {
  position: relative;
}

.explain h3 {
  font-size: 1em;
}

pre {
  margin: 0;
  font-family: FantasqueSansMono, monospace;
  color: #def;
}
.box {
  /*padding: 1em;*/
  /*border-radius: 0.3em;*/
}

.machine {
  width: 240px;
}

.dev-machine {
  float: left;
}

.dev-machine .box {
  /*background: rgba(0, 0, 0, 0.333);*/
}

.dev-machine .file {
  color: #fff;
}

.dev-machine .source {
  background: rgba(0, 0, 0, 0.333);
  margin-bottom: -1em;
}
.dev-machine .dest {
  color: #fff;
  background: rgba(255, 255, 255, 0.333);
}

.arrow-right,
.arrow-left {
  height: 1em;
  width: 100px;
  position: absolute;
}
.arrow-right:after,
.arrow-left:after {
  content: "";
  display: block;
  position: absolute;
  top: -0.5em;
  border-top: 1em solid transparent;
  border-bottom: 1em solid transparent;
}

.arrow-right {
  left: 305px;
  top: 5.8em;
  background: rgba(0, 0, 0, 0.333);
}
.arrow-right:after {
  left: 100%;
  border-right: 0 solid transparent;
  border-left: 20px solid rgba(0, 0, 0, 0.333);
}
.arrow-left {
  left: 315px;
  top: 10.4em;
  background: rgba(255, 255, 255, 0.5);
}
.arrow-left:after {
  right: 100%;
  border-left: 0 solid transparent;
  border-right: 20px solid rgba(255, 255, 255, 0.5);
}

.precomp-machine {
  float: right;
}
.precomp-machine h3 {
  text-align: right;
}
.precomp-machine .box {
  /*background: rgba(255, 255, 255, 0.333);*/
}
.precomp-machine .box img {
  width: 56%;
  display: block;
  margin: 1em auto;
}


.clearfix {
  clear: both;
}


.message {
  position: relative;
  width: 66.667%;
  margin: 0 auto;
}
.message .dismiss {
  position: absolute;
  top: -0.3em;
  right: 0;
}
.small.button {
  padding: 0.5em;
  line-height: 0.75em;
  height: 0.75em;
}

.power,
.key-blah {
  display: inline-block;
  width: 350px;
  text-align: center;
}
.power h3,
.key-blah h3 {
  display: inline-block;
  margin-right: 1em;
}
.power-widget-container,
.key-container {
  display: inline-block;
  padding: 3px;
  background: transparent;
  border: 3px solid #09a;
  border-radius: 8px;
}
.power-widget-container {
  width: 130px;
  text-align: left;
  cursor: pointer;
}
.power-widget-container:hover {
  background: #09a;
}
.power-widget {
  text-align: center;
  width: 32px;
}
.state-off .power-widget {
  color: white;
  background: #e37272;
}
.state-on {
  text-align: right;
}
.state-on .power-widget {
  color: white;
  background: #81e647;
}
.key-container code {
  display: inline-block;
  padding: 0.5em 2em;
}


code {
  font-family: FantasqueSansMono, monospace;
}


.quickstart {
  margin: 4em 0 1em;
  /*text-align: center;*/
}
.quickstart h2 {
  display: inline-block;
  margin-right: 1em;
}
.quickstart form {
  display: inline-block;
}

.i-want-to {
  text-align: center;
}

select {
  color: #09a;
}

.usecase em {
  font-style: normal;
  color: white;
  /*background: rgba(255, 255, 255, 0.1);*/
}

.tabs .button {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  color: #09a;
}
.tabs .button:not(.selected) {
  color: #bbc;
}
.tabs .button:not(.selected):hover {
  color: #38c3d2;
}

.usecase .use:not(.selected) {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.usecase pre {
  font-size: 0.8em;
  padding: 0.5em;
  background: rgba(0, 0, 0, 0.333);
  border-radius: 4px;
  border-top-left-radius: 0;
}
.usecase.curl pre:before {
  content: "$ ";
}


