{% extends 'base.html' %}

{% block content %}

  {% if not hide_message %}
    <div class="message welcome">
      <a class="dismiss button" href="{{ url_for('dismiss_welcome') }}" title="dismiss">&times;</a>
      <h2>Hello, {{ current_user.name or current_user.username }}</h2>
      <p>Welcome to Precomp! It would be really awesome if this message said something useful, but for some reason I'm the one writing it right now. And it's 4am. So instead, you get this useless copy. Hope you're happy.</p>
    </div>
  {% endif %}

{% endblock %}
