{% extends 'base.html' %}

{% block content %}

  {% if not hide_message %}
    <div class="message welcome">
      <a class="dismiss small button" href="{{ url_for('dismiss_welcome') }}" title="dismiss">&times;</a>
      <h2>Hello, {{ current_user.name or current_user.username }}</h2>
      <p>Welcome to Precomp! We provide you with Compilation as a Service. Instead of having to suffer the clutter of
      many libraries and dependencies, you can simply compile those files in the cloud with Precomp. Easy access is
      available via the command line with curl, or for more automation, you can configure our client to watch your
      source directories and it will automatically compile them when you make changes.
      </p>
    </div>
  {% endif %}

  <form class="power">
    <h3><label for="newstate">Power</label></h3>
    <input
      class="visuallyhidden focusable"
      type="checkbox"
      id="newstate"
      name="newstate"
      {% if current_usercompiler_state == 'on' %}
        checked="checked"
      {% endif %} />
    <a
      href="{{ url_for('toggle_compiler_state') }}"
      class="power-widget-container state-{{ current_user.compiler_state }}">
      <div class="power-widget button">{{ current_user.compiler_state }}</div>
    </a>
    <button class="visuallyhidden focusable" type="submit">Set Power</button>
  </form>

  <div class="key-blah">
    <h3>Key</h3>
    <div class="key-container">
      <code>{{ current_user.key }}</code>
    </div>
  </div>


  <div class="quickstart">
    <h2>Quickstart:</h2>
    <form>
      <p class="i-want-to">
        I want to compile
        <select class="button">
          {% for processor in processors %}
            <option value="{{ processor }}">{{ processor }}</option>
          {% endfor %}
        </select>
      </p>
    </form>
  </div>

  <div class="usecase">
    <div class="tabs">
      <a href="#curl" class="button selected">Compile with <code>curl</code></a>
      <a href="#client" class="button">Autopilot with our Autoclient</a>
    </div>

    <div class="use selected curl">
      <pre>
tar -cz folder | curl -sfF data=@- http://precomp.ca/<em class="processor">{{ processors[0] }}</em>/?key=<em class="key">{{ current_user.key }}</em>| tar zxf - -C output_folder/
</pre>
    </div>

    <div class="use autopilot">
      <pre>
config:
  processor: <em class="processor">{{ processors[0] }}</em>
  key: <em class="key">{{ current_user.key }}</em>
  input: input_folder
  output: output_folder
  extras:
    logging: on
</pre>
    </div>
  </div>

{% endblock %}
